* {
    margin: 0;
    padding: 0;
}
body{
    font-family:
    "Montserrat", sans-serif;
}
.center{
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}
.header__img{   
    background: #E1FF8F;
    background-image: url(/img/StarLogo.svg);
    background-repeat: no-repeat;
    background-position: top right;
}
header{
    background-image: 
    url(/img/Star2.svg),
    url(/img/Star3.svg),
    url(/img/Star4.svg),
    url(/img/Star5.svg);
    background-repeat: no-repeat;
    background-position: 
    17% 16%,
    23% 6%,
    82% 88%,
    75% 79%;
}  
.header__title{
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    padding-top: 196px;
    width: 64%;
    color: #202027;
    text-align: left
}
span {
    font-weight: 700;
}
.header__paragraph{
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    padding-top: 24px;
    padding-bottom: 48px;
    width: 60%;
    text-align: left;
    color: #202027;
}
.header__index{
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    line-height: 34px;
    border: 1px solid #202027;
    border-radius: 60px;
    background: #202027;
    padding: 16px 65px;
    color: #ffffff;
    display: inline-block;
    margin-bottom: 156px;
    text-align: center;
}
.header__index:hover{
    background: #ffffff;
    color: #202027;
}
.games{
    display: flex;
    background: #BCEC30;
    flex-direction: row;
    justify-content: center;
    padding-top: 27px;
    padding-bottom: 30px;
}
.game__one {
    display: flex;
}
.game__two {
    display: flex;
}
.game__three {
    display: flex;
}
.game__four {
    display: flex;
}
.game__five {
    display: flex;
}
.game__six {
    display: flex;
}
.games h2{
    font-weight: 700;
    font-size: 30px;
    line-height: 33px;
    color: #202027;
}
.games img{
    margin-left: 51px;
    margin-right: 51px;
}
/* Об играх */
.about__games{
    background: #202027;
    background-image: url(/img/Star1about.svg),
                    url(/img/Star11about.svg),
                    url(/img/Star12about.svg);
    background-repeat: no-repeat;
    background-position: 
                    right 10%,
                    13% 52%,
                    14% 55%;
}
.about__games-font{
    padding-top: 94px;
    padding-bottom: 96px;
}
.games__titel-about{
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    margin-bottom: 24px;
    color: #ffffff;
}
.games__titel-paragraf{
    width: 60%;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    color: #ffffff;
    margin-bottom: 72px;
}
.about__games-link1{
    display: flex;
}
.about__games-link2{
    display: flex;
    align-items: flex-end;
}
.game__cart-1{
    border-radius: 30px;
    background: #ffffff;
}
.game__cart-center{
    margin-left: 32px;
    margin-right: 32px;
}
.game__cart-1 img{
    border-radius: 30px;
}
.game__button{
    display: inline-block;
    font-size: 16px;
    color: #202027;
    font-weight: 500;
    line-height: 18px;
    font-family: "Montserrat", sans-serif;;
    border-radius: 53px;
    border: none;
    padding: 8px 16px 10px 8px;
    margin-top: 32px;
    margin-left: 32px;
    margin-bottom: 16px;
}
.game__cart-1 h2{
    display: inline-block;
    text-decoration: none;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    margin-left: 32px;
    margin-bottom: 36px;
    color: #202027;
    width: 80%;
}
.game__cart-1:hover{
    transform: scale(1.1);
}
.mini__games{
    background: #202027;
    padding-bottom: 112px;
    background-image: url(/img/Star6mini.svg),
                        url(/img/Star7mini.svg),
                        url(/img/Star8mini.svg),
                        url(/img/Star10mini.svg);
    background-repeat: no-repeat;
    background-position: 
            84% 3%,
            80% 2%,
            84% 98%,
            80% 99%;
}
.mini__games-titel{
    font-size: 64px;
    line-height: 78px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 72px;
}
.mini__cart-even{
    display: flex;
    justify-content: space-between;
   background: #ffffff;
   border-radius: 30px;
   margin-bottom: 32px;
}
.mini__cart-info{
    background: #ffffff;
    padding-left: 43px;
    border-radius: 30px;
}
.mini__cart-info h2{
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: #202027;
    margin-top: 48px;
    margin-bottom: 24px;
}
.mini__cart-info p{
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #202027;
    margin-bottom: 36px;
}
.mini__index-game{
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    line-height: 34px;
    border: 1px solid #202027;
    border-radius: 60px;
    background: #202027;
    padding: 16px 75px;
    color: #ffffff;
    display: inline-block;
    text-align: center;
}
.header__index-game:hover{
    background: #ffffff;
    color: #202027;
}
.mini__event-img img{
    border-radius: 0 30px 30px 0;
}
.mini__cart-odd{
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    background: #ffffff;
    border-radius: 30px;
    margin-bottom: 32px;
}
.mini__odd-img img{
    border-radius: 30px 0 0 30px;
}
footer{
    background: #bded35;
}
.footer p{
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
}
@media (max-width: 600px) {
    .center{
        padding-left: calc(50% - 171px);
        padding-right: calc(50% - 171px);
    }
    .header__img{   
        background: #E1FF8F;
        background-image: url(/img/mobil/mobilLogo.svg);
        background-repeat: no-repeat;
        background-position: top right;
    }
    header{
        background-image: 
        url(/img/mobil/Star1.svg),
        url(/img/mobil/Star2.svg),
        url(/img/mobil/Star3.svg),
        url(/img/mobil/Star4.svg);
        background-repeat: no-repeat;
        background-position: 
        71% 87%,
        16% 14%,
        28% 9%,
        88% 94%;
    }  
    .header__content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header__title{
        font-size: 40px;
        line-height: 48px;
        padding-top: 147px;
        width: 87%;
        color: #202027;
        text-align: center;
    }
    .header__paragraph{
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #202027;
        width: 86%;
        padding-bottom: 36px;
        border: none;
    }
    .header__index{
        box-sizing: border-box;
        width: 285px;
        height: 55px;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 131px;
        border: none;
    
    }
    .header__index:hover{
        background: #202027;
        color: #ffffff;
    }
    .about__games{
        display: none;
    }
    .games{
        padding-top: 16px;
        padding-bottom: 17px;
    }
    .games h2{
        font-size: 16px;
        line-height: 17px;
        color: #202027;
    }
    .games img{
        margin-left: 27px;
        margin-right: 27px;
        width: 19px;
        height: 19px;
    }
    .mini__games-titel{
        font-size: 40px;
        line-height: 48px;
        font-weight: 700;
        color: #ffffff;
        padding-top: 48px;
        margin-bottom: 48px;
    }
    .mini__games{
        background: #202027;
        padding-bottom: 24px;
    }
    .mini__cart-even{
       flex-direction: column-reverse;
       margin-bottom: 24px;
    }
    .mini__cart-odd{
        flex-direction: column-reverse;
        margin-bottom: 24px;
    }   
     .mini__event-img img{
        border-radius: 30px 30px 0 0;
        width: 100%;
    }
    .mini__odd-img img{
        border-radius: 30px 30px 0 0;
        width: 100%;
    }
    .mini__cart-info{
        padding-left: 29px;
        border-radius: 0 0 30px 30px;
        width: 80%;
    }
    .mini__cart-info h2{
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        margin-top: 29px;
        margin-bottom: 29px;
    }
    .mini__cart-info p{
        font-size: 16px;
        line-height: 32px;
        color: #000000;
        margin-bottom: 32px;
    }
    .mini__index-game{
        margin-bottom: 32px;
        width: 50%;
    }
    .footer p{
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: #000000;
        text-align: center;
        padding-top: 40px;
        padding-bottom: 40px;
    }
}